<html>
	<head>
	
		<link rel="stylesheet" href='/my_style_sheet.css' type = "text/css">
	</head>

	<body>
		<header>
				<h1>Add a Mongoose</h1>
		</header>

		<div>
			
			<form id = "form1" action = "/mongoose/<%= list1[0]._id %>" method="POST">
	
		    <p>Your Name:<input type='text' name='name' value = "<%= list1[0].name %>"></p>
		    

		   
				<p>Your Mongoose Attribute: <input type='text' name='animal' value = "<%= list1[0].animal %>"></p>
				
		 
				<input id="button1" type='submit' value='Update My Mongoose'>
				
			</form>

		
			
		</div>
	</body>
</html>