<html>
	<head>
	
		<link rel="stylesheet" href='my_style_sheet.css' type = "text/css">
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
			<script>
			$(document).ready(function (){
            // this triggers the connection event in our server!
        var socket = io.connect();

         $('form').submit(function (){
         		let content ={
         			name : $('#name').val(),
         			dojo : $('#location').val(),
         			lang : $('#language').val(),
         			comment: $('#comment').val(),
         		} 
         		
				    socket.emit( "form_clicked", content );
				    socket.emit( "random_number");

				    return false;
				});
				socket.on( 'server_response', function (data){
					$("#first_message").html(data.message1);
				 
				});
				socket.on('updated_message', function(data){

					$("#first_message").append(data.rand_num1);
				});
        
			});
		</script>
	</head>

	<body>
		<header>
				<h1>Dojo Survey2</h1>
		</header>
		<div id = "message">
			<p id = "first_message"></p>
		
		</div>

		<div>
			
			<form >
	
		    <p>Your Name:<input type='text' id='name'></p>
		    <p>Dojo Location:  <select id = "location">
				    <option value="San Jose">San Jose</option>
				    <option value="Dallas">Dallas</option>
				    <option value="Washington D. C.">Washington D.C.</option>
					  </select></p>

		    <p>Favorite Language:  <select id = "language">
				    <option value="Python">Python</option>
				    <option value="HtML">HTML</option>
				    <option value="Ruby">Ruby on Rails</option>
					  </select></p>
				<p>Comment (optional):</p>
				<textarea id="comment"></textarea>
		 
				<input id="button1" type = "submit" value = "Submit">
			</form>


		
		</div>



	</body>
</html>