<!--The content below is only a placeholder and can be replaced.-->

<div id = "wrapper" style="text-align:center">

<img src="assets/shintologo.png" alt = "shinto coin">
  <div id = "link1">
	<button [routerLink] = "['Home']">Home</button>
	<button [routerLink] = "['MineCoin']">Mine Coins</button>
	<button [routerLink] = "['BuyCoin']">Buy Coins</button>
	<button [routerLink] = "['SellCoin']">Sell Coins</button>
	<button [routerLink] = "['BrowseLedger']">Browse Ledger</button>
	</div>

</div>

<router-outlet></router-outlet>
