<div id = "wrap1">
	<div id = "wrap2">
	<h3>Edit a Restaurant:</h3>
	<div id = "box">
		<p>Restaurant Name:</p>
		<input [(ngModel)]="infodata.name">
			
			<div *ngIf="message.name">
				<p id = "error1">{{message.name.message}}</p>
			</div>

		<p>Cuisine:</p>
		<input [(ngModel)]="infodata.cuisine">
		
			<div *ngIf="message.cuisine">
				<p id = "error1">{{message.cuisine.message}}</p>
			</div>
		<div id = "right1">
		<button id = "button5" [routerLink] = "['']">Cancel</button>
		<button id = "button6" (click)="onButtonClickSubmit()">Submit</button>
		</div>
	</div>
</div>
</div>
